.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sadebar>div {
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: flex;
        overflow: scroll;
    }
    .sidebar>div {
        background: rgb(146, 137, 137);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
    }
}